<footer>
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <ul>
                <li><h1 class="title title_footer" >CENTRALE TEST</h1></li>
                <li >Services Généraux</li>
                <li >Articles Funéraires</li>
                <li >Marbrerie</li>
                <li >Pompes Funèbres</li>
                <li >Communication Signalétique</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li><h1 class="title title_footer" >AIDE & INFORMATION</h1></li>
                <li>Nous contacter</li>
                <li>Mentions légales</li>
                <li>Nos partenaires</li>
                <li>Les services</li>
                <li>Conditions Générales</li>
            </ul>
        </div>
        <div class="column">
            <a href="">
                <img src="http://v2.achatcentrale.fr/Images/Charte/Logo_AchatCentrale_Carre.png" alt="">
            </a>
        </div>
    </div>
</footer>