{% extends 'base.html.twig' %}


{% block title %}Vos contrats - Achat centrale{% endblock %}



{% block body %}





    <div class="site-content">

        <div class="columns">
            <div class="column is-4">
                <h1 class="title">Vos contrats</h1>
                <h2 class="subtitle">Vos prochaines échéances</h2>
            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column is-2">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Recherche">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="column">

                <a class="button is-success is-rounded">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Enregistrer un nouveau contrat</span>
                </a>

            </div>
        </div>




    </div>




{% endblock %}


