{% extends 'base.html.twig' %}


{% block title %}Rayons - Achat centrale{% endblock %}



{% block body %}





    <div class="site-content">

        <div class="welcome-container">
            <div class="columns">
                <div class="column is-four-fifths">
                    <h1 class="title">{{ category }}</h1>
                    <h2 class="subtitle">{{ rayon }}</h2>
                </div>
                <div class="column">


                </div>
            </div>
        </div>


        <div class="container">


            <div class="columns is-mobile is-centered">
                <div class="column is-half is-centered">

                </div>
            </div>
        </div>

    </div>




{% endblock %}


