{% extends 'base.html.twig' %}


{% block title %}Informations Générales - Achat centrale{% endblock %}



{% block body %}





    <div class="site-content">

        <div class="columns">
            <div class="column is-4">
                <h1 class="title">Informations générales</h1>
                <h2 class="subtitle">Vos coordonnés </h2>
            </div>
        </div>

        <div class="container">
            <div class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header">
                            <p >Mon profil</p>
                        </div>
                        <div class="message-body">
                            <p class="is-size-3 has-text-weight-semibold" >Mes coordonnées <span class="is-size-7" >Modifier mes coordonées</span></p>
                            <br>
                            <div class="columns">
                                <div class="column">
                                    <label class="label">Votre mot de passe</label>
                                    <p>ROC ECLERC TEST</p>
                                    <p>21 rue du Test carre</p>
                                    <p>75016 PARIS</p>
                                </div>
                                <div class="column">
                                    <label class="label">Votre mot de passe</label>
                                    <p>Siret : 123 123 123 44444</p>
                                    <p>Téléphone : 01 46 88 99 99</p>
                                    <p>Facturation : cl-001@centrale-funecap.fr</p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header">
                            <p>Mes identifiants</p>
                        </div>
                        <div class="message-body">
                            <div class="columns">
                                <div class="column">
                                    <div class="columns">
                                        <div class="column">
                                            <div class="field">
                                                <label class="label">Adresse mail</label>
                                                <div class="control">
                                                    <input class="input" type="email" placeholder="adresse@gmail.com">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Votre mot de passe</label>
                                                <div class="control">
                                                    <input class="input" type="email" placeholder="FGH5FG">
                                                </div>
                                            </div>
                                            <div class="field is-grouped">
                                                <div class="control">
                                                    <button class="button is-success">Modifier les informations</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <br>
        <div class="is-clearfix"></div>
        <div class="container">
            <article class="message">
                <div class="message-header">
                    <p >Mon carnet d'adresses</p>
                </div>
                <div class="message-body">

                    <div class="columns">
                        <div class="column">
                            <p>Mes adresses de livraison</p>

                        </div>

                        <div class="column">
                            <p>Mes adresses de livraison</p>

                        </div>
                    </div>
                </div>
            </article>
        </div>




    </div>




{% endblock %}


