<header class="container_header" >
    <div class="first-level">
        <div id="header-logo">
            <h1>
                <a title="Achat centrale" href="/">
                    <img class="header-logo-picture"
                         src="{{ asset('images/Logo/logo_ac.png') }}"
                         alt="Achat centrale">
                </a>
            </h1>
        </div>
        <div id="header-search">
            <form class="header-search-form">
                <input type="text" class="header-search-text" autocomplete="off" placeholder="Je cherche un produit, une référence..." value="">
                <button type="submit" class="header-search-button">
                    <span class="img-header-loupe"></span>
                </button>
            </form>
        </div>
        <div id="header-account">
            <div id="header-account-button">
                <a href="#" style="text-decoration:none;" data-connexion="actif" rel="nofollow">
                    <span class="img-header-account"></span>
                    <p class="title">MON COMPTE</p>
                </a>
            </div>
        </div>
        <div id="header-cart">
            <div id="header-cart-button">
                <a href="#" style="text-decoration:none;" rel="nofollow">
                    <span class="img-header-cart"></span>
                    <span class="total-product">18</span>
                    <p class="title">PANIER</p>
                    <p class="sub-title"> 1 200 € </p>
                </a>
            </div>

        </div>
    </div>
    </div>



    <div class="nav-bar">
        <div class="menu-general">
            <ul class="menu-general-range">
                {% for r in rayons %}
                    <li><a href="">{{ r["CatTitre"] }}</a></li>

                {% endfor %}
            </ul>
        </div>
        <div class="menu-rayon">
            <ul class="liste-rayon" >
                {% for c in catParent %}
                    <li><a href="">{{ c["CatTitre"] }}</a></li>

                {% endfor %}

            </ul>
        </div>
    </div>

</header>
