/*FONT*/

@font-face {
    font-family: Calibre;
    src: url('../fonts/Calibre/Calibre-Regular.otf');
}

@font-face {
    font-family: Calibre-Black;
    src: url('../fonts/Calibre/Calibre-Black.otf');
}

@font-face {
    font-family: Calibre-BlackItalic;
    src: url('../fonts/Calibre/Calibre-BlackItalic.otf');
}

@font-face {
    font-family: Calibre-Bold;
    src: url('../fonts/Calibre/Calibre-Bold.otf');
}

@font-face {
    font-family: Calibre-BoldItalic;
    src: url('../fonts/Calibre/Calibre-BoldItalic.otf');
}

@font-face {
    font-family: Calibre-Light;
    src: url('../fonts/Calibre/Calibre-Light.otf');
}

@font-face {
    font-family: Calibre-LightItalic;
    src: url('../fonts/Calibre/Calibre-LightItalic.otf');
}

@font-face {
    font-family: Calibre-Medium;
    src: url('../fonts/Calibre/Calibre-Medium.otf');
}

@font-face {
    font-family: Calibre-MediumItalic;
    src: url('../fonts/Calibre/Calibre-MediumItalic.otf');
}

@font-face {
    font-family: Calibre-RegularItalic;
    src: url('../fonts/Calibre/Calibre-RegularItalic.otf');
}

@font-face {
    font-family: Calibre-Semibold;
    src: url('../fonts/Calibre/Calibre-Semibold.otf');
}

@font-face {
    font-family: Calibre-SemiboldItalic;
    src: url('../fonts/Calibre/Calibre-SemiboldItalic.otf');
}





/*HEADER*/



.nav-bar {
    margin-top: 47px;
}

.first-level{
    display: flex;
    margin: 0 auto;
    width: 70%;
}

#header-logo img {
    width: 100%;
}

#header-logo {
    width: 25%;
    margin-top: 40px;
}

.img-header-account {
    display: inline-block;
    width: 46px;
    height: 45px;
    background-image: url('data:image/gif;base64,R0lGODlhLgAtAMQAAP///+QjE+taTuYxIv3x8PjIxO52bPGRifrW0/zj4elMP/Wspve6tfOel/CEe+c/MexoXQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAuAC0AAAX/ICCOZGmeaKqubOu+cEwmjhLcwkHIsnP/v0GD5yLYAo9GYekY3AxEFuR2MBEM1GiKcRuisIGE9iQICFSERwA6nt0Kq0Vg0CYVbqzETVwH3M8sb31+AQotgn13ATsqioMiTlUqWIaPWAOMJwg3C48ABE4KmSQIoZ4iXHOdIwQHTgMIpyILTnMCt0GxsiIJYEADDqO7nwsHxgzCw8rLzLsIDQa30gYNfKetakDahauDDbVIBgdLDAcG2UgMdQRlcw7WJgi+BskwpTfBLQntokSgc+pgNLjRT0YZWDzkBHAgY2CAgDwOIHrhhE2UMoBcKITHQ5GuFlMsarEhqYWTblokGWYMFABOGy4PXtzqg2Bms5s4c+rcybMniRAAOw==');
    background-repeat: no-repeat
}

.img-header-cart {
    display: inline-block;
    width: 46px;
    height: 45px;
    background-image: url('data:image/gif;base64,R0lGODlhLgAtAMQAAP///+QjE+taTvjIxP3x8OYxIvGRifzj4fWspuxoXelMP+52bOc/MfrW0/Oel/e6tfCEewAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAuAC0AAAX/ICCOZGmeaKqubOu+8NgItLAMcU4aQe8nOh1hQBwYCgFIcCka9AjMpSKAiAYdAaA1d3huc9PqyFArm8/oBFSF1YoEvrh8Tg80Vt3AGjAs+v+AfhABCi1hXwAMVC1tX04Feyp5kUsLSS+HUQQ9By+NUTwCMJNRimKYi0sPAQw5n0EJAQZcXjp5nWCpOYNuMViiOQRIOEJICXcvCIqFqkh1zz0KlFwLitByAgbTiNzdiAcQNA7bTQkCCadMCM49BcgllnELmsYDD1PAJKuyRkizS79GCLNTAs4/AAhYMeFxEAAcYiPg4BLRY2GAeSMUQXwT4MGIPEwa9BBjqYAJHgzuKRyYgrFSO2fpRBCYEsBZgYlLjvRg4PEEgXgBBLzzRrSo0aNIkypdyiQEADs=');
    background-repeat: no-repeat
}

.img-header-loupe {
    display: inline-block;
    width: 26px;
    height: 25px;
    margin-top: 3px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUBJREFUeNq8VYENgjAQBCboBjJCNxAnkBFwA0ZwA91A3UAngA3sBuoEukH9Jo95K22/WL3kkkJK7rn273OtdeZBCZRIgytQIeNghEZYATvtxgW4dnw7yrGXO83HGSg5QrllXQesyLOx6gDsiZVLYE32PICLoJ1EdUMqvQNbT4US/4ZaKTjWlZYIxw5hia05QvRc2ohDLrGwoUAREqKbs0hSy2vXvgJ7ROCRHbN4nMhaujYVRMTgNkGoJ+uZT+gvKLAPghV5UHEcKbDRBrF6gtCSrFWoYVNd72AfyX81bGwElZbIELCCG6pnqxcUhqoioToHNo6TUBiwD848ihkTrtEhOPOIO/gaT1EfYnmCUb5zWPlu44QQjbH79WephIJiKYV8Ym3qUF0B9yPvxS/S24ht7YsRunXfQGJIm3nVPwUYAGKC54jGoJSeAAAAAElFTkSuQmCC');
    background-repeat: no-repeat
}


#header-search {
    width: 550px;
    margin: 12px auto;
}

#header-search #header-contact {
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 13px
}

#header-search #header-contact {
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 13px
}


.header-search-form {
    margin-top: 45px;
    border: 4px solid #ccc;
    border-radius: 8px;
    height: 55px;
    position: relative;
    padding: 0 0 0 10px;
    background-color: #fff;
    display: flex;
}

.header-search-form .header-search-text {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px 40px 0 4px;
    padding: 0;
}

.header-search-form .header-search-text:disabled {
    background-color: #fff
}
.header-search-form .header-search-button {
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 45px;
    background-color: #ED591D;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer

}

#header-cart-button .sub-title {
    line-height: 14px;
    font-size: 12px;
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis
}



#header-account-button,
#header-cart-button {
    line-height: 0;
    padding-top: 46px;
    text-align: center;
    font-size: 11px;
    width: 96px;
    height: 83px;
    position: relative;
    cursor: pointer
}

#header-account-button {
    width: 146px
}

#header-easy-shopping-button {
    width: 96px;
    margin-right: 13px
}


#header-account-button .title,.title, #header-cart-button .title {
    line-height: 15px;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin: 0;
}

#header-cart-button .total-product {
    position: absolute;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    min-width: 25px;
    height: 25px;
    background-color: #333;
    border: 1px solid #fff;
    line-height: 19px;
    text-align: center;
    padding: 2px;
    top: 42px;
    right: 20px;
}

.menu-general-range{
    list-style-type: none;
    margin-bottom: 0;
    height: 15px;
    margin-left: 13%;
}

.menu-general ul li {
    display: inline;
    background-color: #f3f3f3;
    padding: 17px 17px 14px 17px;
    cursor: pointer;
    text-transform: uppercase;
}



.menu-rayons-range{
    list-style-type: none;
}

.menu-rayon ul li {
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
}


.menu-rayon{
    background-color: #ED591D;
    height: 40px;
    color: white;
    width: 100%;
    margin-top: 20px;
}


div.menu-general > ul > li:nth-child(1) {
    background-color: #ec591c;
}


div.menu-general > ul > li:nth-child(1) > a{
    color: white;
    text-decoration: none;
}

div.menu-general li a{
    color: black;
    text-decoration: none;
    vertical-align: baseline;
    font-weight: 600;

}

ul.liste-rayon {
    margin-left: 12.9%;
}


.menu-rayon li {
    position: relative;
    border-left: 1px solid;
    height: 14px;
    top: 10px;
    padding: 12px 18px;
    vertical-align: baseline;
}

.menu-rayon li a{
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    font-family: 'Calibre-medium';
    letter-spacing: -0.4px;
}



.menu-general li + li:hover{
    background: #dbdbdb;
}




.rayons-content{
    position: absolute;
    width: 1210px;
    top: 40px;
    height: 500px;
    z-index: 99999 !important;
    background-color: white;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sub-menu {
    color: black;
    padding-top: 31px;
    width: 95%;
    margin: auto;
}


.sub-menu li a {
    color: #7a7a7a !important;
}


.banners {
    padding-top: 45px;
}

.sub-cat li {
    display: list-item !important;
    border: 0;
    padding: 0px 6px;
    cursor: auto !important;
    position: unset;
    text-transform: capitalize !important;
    height: unset;
}


a.sub-menu-link {
    color: black !important;
    cursor: auto;
    font-weight: 800 !important;
    font-family: 'Calibre-Bold';
    font-size: 16pt;
    letter-spacing: 1px;
}


.mask-drop-down-menu {
    background-color: #000;
    -ms-filter: "alpha(opacity=@filter-opacity)";
    filter: alpha(opacity=40);
    -moz-opacity: .4;
    opacity: .4;
    z-index: 1;
    height: 100vh;
}


.site-content {
    width: 74%;
    margin: auto;
    margin-top: 50px;
}

.site-content h1 {
    font-size: 25pt;
    font-family: 'Calibre-Medium';
}

.mask-menu{
    background-color: #000;
    -ms-filter: "alpha(opacity=@filter-opacity)";
    filter: alpha(opacity=40);
    -moz-opacity: .4;
    opacity: .4;
    z-index: 1;
    height: 100vh;
    width: 100%;
    position: absolute;
}


.your-class {
    height: 260px;
    margin: 0 auto;
    width: 90%;
    margin: 0 auto;
}

.slider-promo {
    margin: 50px 10px;
}

.ligne{
    background: url("http://v2.achatcentrale.fr/Images/Picto_LignePromo.jpg");
    background-position: center;
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
}

.Promo_Mot1{
    font-family: 'Calibre-Light';
    text-transform: uppercase;
    color: #E1734B;
    font-size: 30px;
}

.Promo_Mot2 {
    font-family: 'Tangerine';
    color: #888888;
    font-size: 60px;
}