/*FONT*/

@font-face {
    font-family: Calibre;
    src: url('../fonts/Calibre/Calibre-Regular.otf');
}

@font-face {
    font-family: Calibre-Black;
    src: url('../fonts/Calibre/Calibre-Black.otf');
}

@font-face {
    font-family: Calibre-BlackItalic;
    src: url('../fonts/Calibre/Calibre-BlackItalic.otf');
}

@font-face {
    font-family: Calibre-Bold;
    src: url('../fonts/Calibre/Calibre-Bold.otf');
}

@font-face {
    font-family: Calibre-BoldItalic;
    src: url('../fonts/Calibre/Calibre-BoldItalic.otf');
}

@font-face {
    font-family: Calibre-Light;
    src: url('../fonts/Calibre/Calibre-Light.otf');
}

@font-face {
    font-family: Calibre-LightItalic;
    src: url('../fonts/Calibre/Calibre-LightItalic.otf');
}

@font-face {
    font-family: Calibre-Medium;
    src: url('../fonts/Calibre/Calibre-Medium.otf');
}

@font-face {
    font-family: Calibre-MediumItalic;
    src: url('../fonts/Calibre/Calibre-MediumItalic.otf');
}

@font-face {
    font-family: Calibre-RegularItalic;
    src: url('../fonts/Calibre/Calibre-RegularItalic.otf');
}

@font-face {
    font-family: Calibre-Semibold;
    src: url('../fonts/Calibre/Calibre-Semibold.otf');
}

@font-face {
    font-family: Calibre-SemiboldItalic;
    src: url('../fonts/Calibre/Calibre-SemiboldItalic.otf');
}





/*HEADER*/



.nav-bar {
    margin-top: 47px;
}

.first-level{
    display: flex;
    margin: 0 auto;
    width: 75%;
}

#header-logo img {
    width: 100%;
}

#header-logo {
    width: 25%;
    margin-top: 40px;
}

.img-header-account {
    display: inline-block;
    width: 46px;
    height: 45px;
    background-image: url('data:image/gif;base64,R0lGODlhLgAtAMQAAP///+QjE+taTuYxIv3x8PjIxO52bPGRifrW0/zj4elMP/Wspve6tfOel/CEe+c/MexoXQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAuAC0AAAX/ICCOZGmeaKqubOu+cEwmjhLcwkHIsnP/v0GD5yLYAo9GYekY3AxEFuR2MBEM1GiKcRuisIGE9iQICFSERwA6nt0Kq0Vg0CYVbqzETVwH3M8sb31+AQotgn13ATsqioMiTlUqWIaPWAOMJwg3C48ABE4KmSQIoZ4iXHOdIwQHTgMIpyILTnMCt0GxsiIJYEADDqO7nwsHxgzCw8rLzLsIDQa30gYNfKetakDahauDDbVIBgdLDAcG2UgMdQRlcw7WJgi+BskwpTfBLQntokSgc+pgNLjRT0YZWDzkBHAgY2CAgDwOIHrhhE2UMoBcKITHQ5GuFlMsarEhqYWTblokGWYMFABOGy4PXtzqg2Bms5s4c+rcybMniRAAOw==');
    background-repeat: no-repeat
}

.img-header-cart {
    display: inline-block;
    width: 46px;
    height: 45px;
    background-image: url('data:image/gif;base64,R0lGODlhLgAtAMQAAP///+QjE+taTvjIxP3x8OYxIvGRifzj4fWspuxoXelMP+52bOc/MfrW0/Oel/e6tfCEewAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAuAC0AAAX/ICCOZGmeaKqubOu+8NgItLAMcU4aQe8nOh1hQBwYCgFIcCka9AjMpSKAiAYdAaA1d3huc9PqyFArm8/oBFSF1YoEvrh8Tg80Vt3AGjAs+v+AfhABCi1hXwAMVC1tX04Feyp5kUsLSS+HUQQ9By+NUTwCMJNRimKYi0sPAQw5n0EJAQZcXjp5nWCpOYNuMViiOQRIOEJICXcvCIqFqkh1zz0KlFwLitByAgbTiNzdiAcQNA7bTQkCCadMCM49BcgllnELmsYDD1PAJKuyRkizS79GCLNTAs4/AAhYMeFxEAAcYiPg4BLRY2GAeSMUQXwT4MGIPEwa9BBjqYAJHgzuKRyYgrFSO2fpRBCYEsBZgYlLjvRg4PEEgXgBBLzzRrSo0aNIkypdyiQEADs=');
    background-repeat: no-repeat
}

.img-header-loupe {
    display: inline-block;
    width: 26px;
    height: 25px;
    margin-top: 3px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUBJREFUeNq8VYENgjAQBCboBjJCNxAnkBFwA0ZwA91A3UAngA3sBuoEukH9Jo95K22/WL3kkkJK7rn273OtdeZBCZRIgytQIeNghEZYATvtxgW4dnw7yrGXO83HGSg5QrllXQesyLOx6gDsiZVLYE32PICLoJ1EdUMqvQNbT4US/4ZaKTjWlZYIxw5hia05QvRc2ohDLrGwoUAREqKbs0hSy2vXvgJ7ROCRHbN4nMhaujYVRMTgNkGoJ+uZT+gvKLAPghV5UHEcKbDRBrF6gtCSrFWoYVNd72AfyX81bGwElZbIELCCG6pnqxcUhqoioToHNo6TUBiwD848ihkTrtEhOPOIO/gaT1EfYnmCUb5zWPlu44QQjbH79WephIJiKYV8Ym3qUF0B9yPvxS/S24ht7YsRunXfQGJIm3nVPwUYAGKC54jGoJSeAAAAAElFTkSuQmCC');
    background-repeat: no-repeat
}


#header-search {
    width: 550px;
    margin: 12px auto;
}

#header-search #header-contact {
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 13px
}

#header-search #header-contact {
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 13px
}


.header-search-form {
    margin-top: 45px;
    border: 4px solid #ccc;
    border-radius: 8px;
    height: 55px;
    position: relative;
    padding: 0 0 0 10px;
    background-color: #fff;
    display: flex;
}

.header-search-form .header-search-text {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px 40px 0 4px;
    padding: 0;
}

.header-search-form .header-search-text:disabled {
    background-color: #fff
}
.header-search-form .header-search-button {
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 45px;
    background-color: #ED591D;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer

}

#header-cart-button .sub-title {
    line-height: 14px;
    font-size: 12px;
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis
}



#header-account-button,
#header-cart-button {
    line-height: 0;
    padding-top: 46px;
    text-align: center;
    font-size: 11px;
    width: 96px;
    height: 83px;
    position: relative;
    cursor: pointer
}

#header-account-button {
    width: 146px
}

#header-easy-shopping-button {
    width: 96px;
    margin-right: 13px
}


#header-account-button .title,.title, #header-cart-button .title {
    line-height: 15px;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin: 0;
}

#header-cart-button .total-product {
    position: absolute;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    min-width: 25px;
    height: 25px;
    background-color: #333;
    border: 1px solid #fff;
    line-height: 19px;
    text-align: center;
    padding: 2px;
    top: 42px;
    right: 20px;
}

.menu-general-range{
    list-style-type: none;
    margin-bottom: 0;
    height: 15px;
    margin-left: 13%;
}

.menu-general ul li {
    display: inline;
    background-color: #f3f3f3;
    padding: 17px 17px 14px 17px;
    cursor: pointer;
    text-transform: uppercase;
}



.menu-rayons-range{
    list-style-type: none;
}

.menu-rayon ul li {
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
}


.menu-rayon{
    background-color: #ED591D;
    height: 40px;
    color: white;
    width: 100%;
    margin-top: 22px;
}


div.menu-general > ul > li:nth-child(1) {
    background-color: #ec591c;
}


div.menu-general > ul > li:nth-child(1) > a{
    color: white;
    text-decoration: none;
}

div.menu-general li a{
    color: black;
    text-decoration: none;
    vertical-align: baseline;
    font-weight: 600;

}

ul.liste-rayon {
    margin-left: 12.9%;
}


.menu-rayon li {
    position: relative;
    border-left: 1px solid;
    height: 14px;
    top: 10px;
    padding: 12px 18px;
    vertical-align: baseline;
}

.menu-rayon li a{
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    font-family: 'Calibre-medium';
    letter-spacing: -0.4px;
}



.menu-general li + li:hover{
    background: #dbdbdb;
}




.rayons-content{
    position: absolute;
    width: 1210px;
    top: 40px;
    height: 500px;
    z-index: 99999 !important;
    background-color: white;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sub-menu {
    color: black;
    padding-top: 31px;
    width: 95%;
    margin: auto;
}


.sub-menu li a {
    color: #7a7a7a !important;
}


.banners {
    padding-top: 45px;
}

.sub-cat li {
    display: list-item !important;
    border: 0;
    padding: 0px 6px;
    cursor: auto !important;
    position: unset;
    text-transform: capitalize !important;
    height: unset;
}


a.sub-menu-link {
    color: black !important;
    cursor: auto;
    font-weight: 800 !important;
    font-family: 'Calibre-Bold';
    font-size: 16pt;
    letter-spacing: 1px;
}


.mask-drop-down-menu {
    background-color: #000;
    -ms-filter: "alpha(opacity=@filter-opacity)";
    filter: alpha(opacity=40);
    -moz-opacity: .4;
    opacity: .4;
    z-index: 1;
    height: 100vh;
}


.site-content {
    width: 74%;
    margin: auto;
    margin-top: 50px;
}

.site-content h1 {
    font-size: 25pt;
    font-family: 'Calibre-Medium';
}

.mask-menu{
    background-color: #000;
    -ms-filter: "alpha(opacity=@filter-opacity)";
    filter: alpha(opacity=40);
    -moz-opacity: .4;
    opacity: .4;
    z-index: 1;
    height: 100vh;
    width: 100%;
    position: absolute;
}


.your-class {
    height: 260px;
    margin: 0 auto;
    width: 90%;
    margin: 0 auto;
}

.slider-promo {
    margin: 50px 10px;
}

.ligne{
    background: url("http://v2.achatcentrale.fr/Images/Picto_LignePromo.jpg");
    background-position: center;
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
}

.Promo_Mot1{
    font-family: 'Calibre-Light';
    text-transform: uppercase;
    color: #E1734B;
    font-size: 30px;
}

.Promo_Mot2 {
    font-family: 'Tangerine';
    color: #888888;
    font-size: 60px;
}


.hide-vignette{
    display: none;
}


/*Vignette produit*/

.btn_vignette_add {
    margin-top: 15px;
}

.has_stock {
    margin: 8px auto;
}

.container_quantity {
    padding-bottom: 8px;
}

.has_promo {
    width: 20%;
    background-color: #df4e92;
    color: white;
    border-radius: 60%;
    height: 40px;
    padding-top: 10px;
    padding-left: 7px;
    float: right;
    font-size: 11pt;
    font-weight: 800;
}

.Barre {
    text-decoration: line-through;
}

.Petit {
    font-size: 10px;
}

.Gris {
    color: #666666;
}

.Gras {
    font-weight: bold;
}

.Bleu {
    color: #0b92d1;
}

.btn_add_to_cart {
    width: 100%;
    height: 30px;
    background-color: #c2e1f0;
    border-radius: 5px;
    color: black;
    border: 0px;
}


.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
}

form #increase {
    margin-left: -4px;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.reductions span {
    padding: 16px 6px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    left: 175px;
    background-color: #e3579c;
    color: white;
    font-size: 14pt;
}

.description {
    color: #666666;
}

.Nouveautes {
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
    border-color: #0b92d1;
    padding: 2px;
    margin-top: 10px;
}



.NouveautesTxt {
    color: #0b92d1;
}


.document_joint {
    padding-bottom: 12px;
}

.ref {
    position: relative;
    top: 20px;
}

.container_nouveaute {
    height: 24px;
}

.add_to_cart{
    border: 1px solid #EFEFE0;
    padding: 4px;
    background-color: #efefef;
    padding-left: 22px;
}



.list-item:hover .item {
    z-index: 2;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 6px 6px 5px rgba(0,0,0,.4);
    box-shadow: 2px 2px 4px rgba(0,0,0,.13);
    z-index: 200;
}

.list-item .item {
    -webkit-transition: box-shadow .25s linear,min-height .35s linear;
    transition: box-shadow .25s linear,min-height .35s linear
}

.list-item:hover .item {
    -webkit-transition: box-shadow .25s linear,min-height .35s linear;
    transition: box-shadow .25s linear,min-height .35s linear
}


.list-item:hover .item .mobile-exclusive {
    width: auto
}

.item {
    min-height: 410px;
    padding: 5px 25px;
    margin-right: 25px;
}


.list-item .picCore {
    visibility: hidden
}

.list-item .pic-Core-v {
    visibility: visible
}

.list-item .img a img.picCore {
    max-width: 180px;
    max-height: 180px;
    _width: 180px;
    _height: 180px;
}

.list-item ul li {
    position: relative;
}

.list-item .selling-point li {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.list-item .selling-point li {
    list-style-type: none;
    float: left;
    background: #F5F5F5;
    border-radius: 2px;
    font-family: inherit;
    font-size: 12px;
    color: #666;
    letter-spacing: 0;
    line-height: 14px;
    height: 16px;
    margin-right: 12px;
    margin-bottom: 8px
}

.list-item .selling-point .text-only span {
    padding: 0 4px 2px 4px;
    height: 16px;
    display: inline-block;
    line-height: 16px
}

.list-item .selling-point .graphic-only img {
    height: 16px
}

.list-item .selling-point .text-graphic img {
    height: 12px
}

.list-item .selling-point .text-graphic span {
    padding: 0 4px 2px 4px;
    vertical-align: middle
}

.gallery-mode {
    overflow: hidden\9
}

.gallery-mode #list-items {
    margin: 0
}



.son-list {
    position: relative;
}

.list-item {
    padding: 30px 0 30px 0;
    float: left;
    _overflow: hidden;
    clear: none;
    border: none;
}

.list-item h3 {
    width: 220px;
    min-height: 45px;
    height: 32px;
    overflow: hidden;
    margin-bottom: 20px;
}

.list-item h3.aplus-brand {
    width: 160px;
    margin-bottom: 0;
    height: 35px!important
}

.list-item .img {
    width: 220px;
    position: relative;
    height: 275px;
    margin: 0 auto;
    float: none
}



.list-item .img .pic {
    display: table-cell;
    border: none;
    width: 220px;
    height: 220px;
    vertical-align: middle;
    font-size: 175px;
    overflow: hidden
}

.gallery-mode .list-item .img a {
    width: 220px;
    height: 220px;
    font-size: 166px
}

.gallery-mode .list-item .detail,.gallery-mode .list-item .info {
    float: none;
    clear: both
}

.list-item .info {
    width: 220px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    position: relative
}

.info-more {
    width: 220px;
    margin: 0 auto;
    display: none
}

.list-item .price {
    display: block;
    padding-top: 0
}

.gallery-mode .list-item .detail {
    display: block;
    margin: 10px 0 0 0
}

.gallery-mode .list-item .price-remark {
    display: none
}

.gallery-mode .list-item .min-order {
    display: block
}

.gallery-mode .list-item .shipping {
    padding-left: 35px
}

.gallery-mode .list-item .shipping-type {
    line-height: 11px
}

.gallery-mode .list-item .add-to-cart {
    margin: 0
}

.gallery-mode .legend {
    display: inline-block
}

.gallery-mode .atm16,.gallery-mode .atm16grey {
    display: inline-block;
    float: left;
    margin-right: 0
}

.gallery-mode .list-focus {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 44px;
    padding-top: 19px
}

.gallery-mode .list-focus .sold-amount {
    padding-bottom: 3px
}

.gallery-mode .list-focus .list-btn-wrapper {
    margin-top: -5px
}

.gallery-mode .img-border {
    border: 0
}

.gallery-mode .aplus-i {
    height: 20px;
    overflow: hidden;
    cursor: pointer
}

.gallery-mode .store-name-chat {
    padding-top: 5px;
    width: 220px;
    margin-top: 5px
}


.list-item {
    width:25%
}

.store-name {
    width: 182px;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    height: 23px;
    line-height: 23px;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap
}

.store-name .product-from {
    color: #666
}

.store-name .feedbacks .taobao-feedbacks {
    color: #333;
    margin-top: 3px;
    line-height: 17px
}

.store-name a {
    line-height: 23px;
    display: inline-block;
    width: 180px;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden
}



.img img {
    max-width: 220px;
    max-height: 220px;
}

.list-item .has-sku-image a {
    display: block;
    color: #036;
}

.has-sku-image {
    height: 24px;
    background-color: #F5F5F5;
    line-height: 24px;
    text-align: center;
    font-size: 13px;
    float: none;
    width: auto;
    z-index: 999;
    margin-top: 30px;
}


.info {
    width: 220px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.list-item {
    min-height: 460px;
    padding: 0;
    padding-bottom: 30px;
}

.list-item:hover {
    border-color: transparent;
    box-shadow: none;
}

.clearfix {
    display: inline-table;
    zoom: 1;
    height: 1%;
}

#list-items {
    margin: 0;
    list-style: none;
    width: 100%;
    padding: 0;
    clear: both;
    zoom: 1;
}


.list-item:hover .info-more {
    display: block;
}




.gallery-mode .store-name {
    width: 182px;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    height: 23px;
    line-height: 23px;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
}

.gallery-mode .store-name-chat {
    padding-top: 5px;
    width: 220px;
    margin-top: 5px;
}

.price .comment, .price .currency, .price .value {
    color: #f60;
    font-weight: 700;
    font-size: 16px;
}

/*vignette produits*/

.subHeader{
    background-color: #F5F5F5;
    height: 55px;
}


.container-economie {
    background-color: white;
    padding: 3px 5px;
    border-radius: 20px;
    margin-left: 35px;
    text-align: center;
    border: 1px solid #b5b5b5;
    height: 45px;
    margin-top: -7px;
}


.value-economie{
    background-color: #c2e1f0;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 25px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    color: white;
    font-weight: 800;
}

.pseudo_user{
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Calibre-Medium';

}


.messageCommande{
    text-align: center;
    border-right: 1px solid;
    height: 55px;
    padding-top: 5px;
}

.picto_commande{
    width: 65%;
    float: right;
    padding-top: 5px;
}

.picto_no_currency img{
    width: 65%;
    padding-top: 3px;
    float: right;
}


.container-user-avatar {
    background-color: white;
    border-radius: 50px;
    height: 35px;
    border: 1px solid #b5b5b5;
    padding-top: 4px;
}

.list-item:not(:last-child) {
    border-bottom: none;
}



.fleche-droite{
    cursor: pointer;
    position: absolute;
    right: 150px;
    margin-top: 240px;
}

.fleche-gauche{
    cursor: pointer;
    position: absolute;
    left: 150px;
    margin-top: 240px;
}

.container-img-frs {
    width: 35%;
    margin: auto;
}

.container-img-frs img {
    max-height: 50px;
    max-width: 150px;
}

span.value-barre {
    font-size: 9pt;
    text-decoration: line-through;
}